<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Maybach</title>
  <link rel="stylesheet" href="about.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="#" class="nav_logo">Mercedes Maybach</a>
      
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="home" class="nav_link">Home</a>
                    <a href="pro" class="nav_link">Product</a>
                    <a href="service" class="nav_link">Services</a>
                    <a href="about" class="nav_link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

  <header>
    <h1>About Us</h1>
  </header>

  <section class="main-content">
    <div class="left-side">
      <img src="/1.jpg" alt="Left Image">
    </div>
    <div class="right-side">
      <section class="concept">
        <h2>Concept</h2>
        <p>Maybach represents the epitome of luxury and performance in the automotive industry. Inspired by the vision of Wilhelm Maybach, the brand was founded in 1909 with the goal of creating vehicles that redefine automotive excellence. Over the decades, Maybach has become synonymous with unparalleled craftsmanship, innovative technology, and timeless elegance.</p>
        <p>At Maybach, our concept revolves around pushing the boundaries of luxury and engineering innovation. Each vehicle embodies our commitment to precision engineering, exquisite design, and uncompromising quality. From the opulent interiors to the powerful performance, every detail is meticulously crafted to exceed the expectations of the most discerning individuals.</p>
      </section>

      <section class="project">
        <h2>Our Project</h2>
        <div class="project-images">
          <img src="/13.jpg" alt="Small Image 1">
          <img src="/gls.jpg" alt="Small Image 2">
          <img src="/p3.jpg" alt="Small Image 3">
        </div>
        <p>Our mission is to continue the legacy of Maybach by designing and producing exceptional vehicles that redefine luxury and elevate the driving experience. We strive to create automotive masterpieces that blend exquisite craftsmanship with cutting-edge technology, setting new standards of excellence in the industry.</p>
        <p>With a team of skilled engineers, designers, and artisans, we meticulously craft each Maybach vehicle to perfection. From the initial concept to the final production, we uphold the highest standards of quality and attention to detail, ensuring that every Maybach delivers an unmatched level of refinement, performance, and comfort.</p>
      </section>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Maybach. All rights reserved.</p>
  </footer>

</body>
</html>
