<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercedes Maybach</title>
    <link rel="stylesheet" href="pg1.css">
    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <style>
        
    </style>
</head>
<body>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="bg.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- Header -->
    <header class="header">
        <nav class="nav">
            <a href="#" class="nav_logo">Mercedes Maybach</a>

            <ul class="nav_items">
                <li class="nav_item">
                    <a href="home" class="nav_link">Home</a>
                    <a href="pro" class="nav_link">Product</a>
                    <a href="service" class="nav_link">Services</a>
                    <a href="about" class="nav_link">Contact</a>
                </li>
            </ul>

            <a class="button" id="form-open" href="login">Login</a>
            <a class="button" href="register" >Register</a>
        </nav>
    </header>

   

    <script src="pg1.js"></script>
    <!-- <script src="pg1.js"></script>
    <script>
        function validateLoginForm() {
            var email = document.getElementById("loginEmail").value;
            var password = document.getElementById("loginPassword").value;

            // Add your validation logic here
            // For example, check if email and password are correct
            // For demonstration purposes, let's assume correct credentials

            // Redirect user to a page after successful login
            if (email === "example@example.com" && password === "password") {
                window.location.href = "home/home"; // Change the URL to your desired page
                return false; // Prevent form submission
            } else {
                alert("Invalid email or password. Please try again.");
                return false;
            }
        } -->

        
    </script>
</body>
</html>
